In [1]:
%matplotlib inline
# Load the "autoreload" extension
%load_ext autoreload
# always reload modules
%autoreload 2
# black formatter for jupyter notebooks
# %load_ext nb_black
# black formatter for jupyter lab
%load_ext lab_black

%run ../../src/notebook_env.py

---------------------------------
Working on the host: imarevic-pc

---------------------------------
Python version: 3.10.9 | packaged by conda-forge | (main, Feb  2 2023, 20:20:04) [GCC 11.3.0]

---------------------------------
Python interpreter: /home/imarevic/anaconda3/envs/srh/bin/python

In [2]:
import pandas as pd

In [3]:
# Lese Datei students.csv als Dataframe ein
df = pd.read_csv("../../data/students.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8239 entries, 0 to 8238
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   stud_id          8239 non-null   int64
 1   name             8239 non-null   object
 2   gender           8239 non-null   object
 3   age              8239 non-null   int64
 4   height           8239 non-null   int64
 5   weight           8239 non-null   float64
 6   religion         8239 non-null   object
 7   nc_score         8239 non-null   float64
 8   semester         8239 non-null   object
 9   major            8239 non-null   object
 10  minor            8239 non-null   object
 11  score1           4892 non-null   float64
 12  score2           4892 non-null   float64
 13  online_tutorial  8239 non-null   int64
 14  graduated        8239 non-null   int64
 15  salary           1753 non-null   float64
dtypes: float64(5), int64(5), object(6)
memory usage: 1.0+ MB