In [1]:
import pandas as pd

# Erstelle Dataframe df
df = pd.DataFrame({'numbers': [1, 2, 3], 'colors': ['red', 'white', 'blue'], 'frequency': [220, 440, 880]})
df

   numbers colors  frequency
0        1    red        220
1        2  white        440
2        3   blue        880

In [2]:
df = pd.DataFrame()
df['numbers'] = [1, 2, 3]
df['colors'] = ['red', 'white', 'blue']
df['frequency'] = [220, 440, 880]
df

   numbers colors  frequency
0        1    red        220
1        2  white        440
2        3   blue        880

In [3]:
print('Erste Zeile von df')
print(df.loc[0])
print('Zweite Zeile von df')
print(df.loc[1])
print('Dritte Zeile von df')
print(df.loc[2])

Erste Zeile von df
numbers        1
colors       red
frequency    220
Name: 0, dtype: object
Zweite Zeile von df
numbers          2
colors       white
frequency      440
Name: 1, dtype: object
Dritte Zeile von df
numbers         3
colors       blue
frequency     880
Name: 2, dtype: object

In [4]:
print(df.loc[:,['numbers','frequency']])

   numbers  frequency
0        1        220
1        2        440
2        3        880

In [5]:
print(df.iloc[[0],[0,2]])

   numbers  frequency
0        1        220

In [6]:
print(df.iloc[[2],[0]])

   numbers
2        3

In [7]:
df.iloc[[2],[0]] = 5
print(df.iloc[[2],[0]])

   numbers
2        5

In [8]:
df2 = df.loc[df['frequency'] < 441]
df2

   numbers colors  frequency
0        1    red        220
1        2  white        440

In [9]:
df2 = df.loc[df['colors'] == 'red']
df2

   numbers colors  frequency
0        1    red        220

In [10]:
df2 = df.loc[(df['numbers'] >= 1) & (df['frequency'] < 441)]
df2

   numbers colors  frequency
0        1    red        220
1        2  white        440